* {
  font-size: 9px;
  font-family: 'Raleway Light', sans-serif;
}

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

p {
  font-family: 'Raleway';
}

li {
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
}

.container {
  width: 100%;
  height: 40vh;
  text-align: center;
  display: flex;
  justify-content: center;
}

/* Navbar */

#navbar .navbar {
  background-color: #01876F;
  display:flex;
  flex-direction: row;  
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  
}

#navbar .navbarlogo a{
  text-decoration: none;
  color: white;
  font-size: 2rem;
  text-decoration: underline 0.15em #BD4429;
  text-underline-offset: 0.2em;
  transition: text-decoration-color 300ms, text-underline-offset 300ms;
  transition: ease 300ms;
}

#navbar .navbarlogo a:hover{
    color:#BD4429;
}


#navbar .navbaritens {
  list-style: none;
}

#navbar .navbaritens a {
  display: inline-block;
  padding: 0 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#navbar .navbaritens a {
  transition: all 0.3s ease 0s;
  font-size: 2rem;
  color: white;
  text-decoration: underline 0.15em #BD4429;
  text-underline-offset: 0.2em;
  transition: text-decoration-color 300ms, text-underline-offset 300ms;
  transition: ease 300ms;
}

#navbar .navbaritens a:hover {
  color: #BD4429;
}

 #navbar a {
  transition: all 0.3s ease 0s;
  font-size: 2rem;
  color: white;
  text-decoration: underline 0.15em #BD4429;
  text-underline-offset: 0.2em;
  transition: text-decoration-color 300ms, text-underline-offset 300ms;
  transition: ease 300ms;
}

#navbar a:hover {
  color: #BD4429;
}

.hamburguer {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #BD4429;
}

/* Hero */

#hero {
  max-width: 100%;
  height: 30vh;
  max-height: 30vh;
  background-color: bisque;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10%;
  margin-bottom: 0;
  z-index: -1;
}

#hero .hero-apresentacao {
  max-width: 70%;
}

#hero .hero-apresentacao h1 {
  font-size: 3rem;
  color: #BD4429;
}

#hero .hero-apresentacao p {
  text-align: justify;
  font-size: 2rem;
}

/* Borda */
.borda {
  width: 100%;
  height: 10vh;
  margin-top: 0;
  background-color: #01876F;
}

/* Clientes */

#clientes .clientes{
  flex-direction: column;
}

#clientes .clientes h2 {
  font-size: 3rem;
}

#clientes .clientes p {
  font-size: 2.5rem;
}

.cliente-bottom {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.clientesItem {
  border: #01876F solid 2px;
  max-width: 250px;
  max-height: 300px;
  min-width: 250px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  margin: 50px;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0);
  transition: 0.3s;
}

.clientesItem:hover {
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.4);
}

.clientesItem .clienteBarra {
  width: 100%;
  background-color: #01876F;
  height: 10px;
}

.clientesItem h3 {
  font-size: 2rem;
  text-align: center;
}

.clientesItem .clienteLogo img {
 width: 100px;
 height: 100px;
 margin-left: 70px;
 margin-top: 50px;
 border-radius:50% 50% 50% 50%;  
 border: #BD4429 solid;
}

/*footer */

#footer {
  background-color: #01876F;
}

#footer .footer {
  width: 100%;
  max-height: 30vh;
  flex-direction: column;
  padding: 0;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
}

#footer .footerItens p {
  font-size: 1.5rem;
  display: block;
  padding-left: 20px;
  padding-right: 20px;
}

#footer h1 {
  font-size: 2rem;
}

#footer .redesocial {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#footer .social-item img {
  height: 70px;
  width: 70px;
}
.social-item img {
  filter: grayscale(1);
  transition: .3s ease filter;
}

.social-item img:hover {
  filter: grayscale(0);

}

#footer a {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
}

#footer a:hover {
  color: #BD4429;
  transition: ease-in-out 0.3s;
}
/*barra */
.barra {
  width: 100%;
  background-color: #01876F;
  height: 1vh;
}
/*portfolio */

#portfolio {
  width: 33%;
}

#portfolio .portfoliomain {
  width: 100%;
  height: 400px;
  border: #01876F 2px solid;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#portfolio .portfoliomain {
  text-align: center;
}


#portfolio .portfoliomain p {
  font-size: 2rem;
  font-family: 'Raleway';
  padding-bottom: 0px;
}

#portfolio .portfoliomain h4 {
  font-size: 2rem;
  font-family: 'Raleway Light';
}
#portfolio .redesocial {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#portfolio .social-item img {
  width: 60px;
  height: 60px;
}

.portfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #01876F;
}

.portfolioinfo {
  width: 100%;
  background-color: #01876F;
  color: #fff;
  padding-bottom: 10px;
}

#photos {
  width: 33%;
}

.photo {
  border: #01876F 2px solid;
  height: 400px;
}


.photo {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('./assets/bg-cursedcar-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.phototitle h3 {
  font-size: 2rem;
  padding-left: 10px;
  max-height: 15%;
}

.photoimage {
  max-height: 85%;
  max-width: 85%;
  margin: 0 auto;
  padding-bottom: 40px;
}

.photoimage img {
  width: 100%;
  height: 100%;
}

/*admin panel*/

.panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.panel h1 {
  font-size: 3rem;
  text-align: center;
}

.client-panel {
  width: 60%;
  height: 50vh;
  margin: 0 auto;
  box-shadow: #01876F 4px 4px 4px 4px;
  padding: 20px;
  padding-top: 10px;
}

.client-panel h3 {
  text-align: center;
  font-size: 2rem;
}

.client-panel-register h4 {
  font-size: 2rem;
}

.client-panel-register label {
  font-size: 1.2rem;
  padding: 5px;
}

.client-panel-register button {
  padding: 6px;
  font-size: 2rem;
  margin-top: 10px;
  text-decoration: none;
  cursor: pointer;
  background-color: #BD4429;
  color: #fff;
}


.client-panel-register {
  display: flex;
  flex-direction: column;
  width: 200px;
  border: #BD4429 2px solid;
  background-color: #01876F;
  padding: 20px;
}

@media only screen and (max-width:650px){
  #portfolio .portfoliomain a {
    font-size: 2rem;
  }

  #portfolio .portfoliomain p {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 580px) {

  #portfolio .portfoliomain a {
    font-size: 3rem;
  }
  #portfolio .portfoliomain p {
    font-size: 3rem;
    width: 100%;

  }

  #portfolio .portfoliomain {
    width: 99vw;
  }

  .portfolio {
    flex-direction: column;
  }

  .photo {
    width: 99vw;
    margin-left: 0px;
    background-color: darkgray;
  }

  .photo {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .phototitle h3 {
    font-size: 2rem;
    padding-left: 10px;
  }

  .photodescription p {
    font-size: 1.5rem;
    padding-left: 10px;
  }


}


@media only screen and (max-width: 800px) {

  /*navbar*/

  .hamburguer {
    display: block;
    align-self: center;
  }
  
  .hamburguer.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  
  }
  
  .hamburguer.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  
  }
  
  .hamburguer.active .bar:nth-child(2) {
    opacity: 0;
  }
  
  .navbaritens {
    position:fixed;
    left: -100%;
    top: 6.3%;
    gap: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #01876F;
    text-align: center;
  }
  
  .navbaritens a {
    margin: 3px;
  }
  
  .navbaritens.active{
    left: 0;
  }
  
  /* Hero */
  #hero .hero-apresentacao h1 {
    font-size: 2.5rem;
  }

  #hero .hero-apresentacao p {
    font-size: 1.5rem;
  }

  /*clientes */

  .cliente-bottom {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .clientesItem {
    margin: 0;
    margin-bottom: 50px;
  }

  /*footer */

}

@media only screen and (max-width:500px) {

  /*hero */
  #hero .hero-apresentacao p {
    font-size: 1.2rem;
  }

  /*clientes*/

  #clientes .clientes h2 {
    font-size: 2rem;
  }
  
  #clientes .clientes p {
    font-size: 1.5rem;
  }

}

/*portfolio set*/
 .portfolioinfo a {
  font-size: 3rem;
  font-family: 'Raleway';
  padding-bottom: 10px;
  text-decoration: underline 0.1em #BD4429;
  transition: 0.3s ease;

 }
