* {
  font-size: 9px;
  font-family: 'Raleway Light', sans-serif;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

p {
  font-family: 'Raleway';
}

li {
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
}

.container {
  width: 100%;
  height: 40vh;
  text-align: center;
  display: flex;
  justify-content: center;
}

/* Navbar */

#navbar .navbar {
  background-color: #01876F;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
}

#navbar .navbarlogo a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  text-decoration: underline 0.15em #fff;
  text-underline-offset: 0.2em;
  transition: text-decoration-color 300ms, text-underline-offset 300ms;
  transition: ease 300ms;
}

#navbar .navbarlogo img {
  width: 150px;
  height: 150px;
}

#navbar .navbarlogo a:hover {
  color: #eef;
  text-decoration-color: #eef;
}


#navbar .navbaritens {
  list-style: none;
}

#navbar .navbaritens a {
  display: inline-block;
  padding: 0 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#navbar .navbaritens a {
  transition: all 0.3s ease 0s;
  font-size: 2rem;
  color: #fff;
  text-decoration: underline 0.15em #fff;
  text-underline-offset: 0.2em;
  transition: text-decoration-color 300ms, text-underline-offset 300ms;
  transition: ease 300ms;
}

#navbar .navbaritens a:hover {
  color: #eef;
  text-decoration-color: #eef;
}

#navbar a {
  transition: all 0.3s ease 0s;
  font-size: 2rem;
  color: #fff;
  text-decoration: underline 0.15em #fff;
  text-underline-offset: 0.2em;
  transition: text-decoration-color 300ms, text-underline-offset 300ms;
  transition: ease 300ms;
}

#navbar a:hover {
  color: #aaa;
  text-decoration-color: #aaa;
}

.hamburguer {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ddd;
}

/* Hero */

#hero {
  max-width: 100%;
  height: 30vh;
  max-height: 30vh;
  background-image: url('./assets/brm-fundotemp.jpg');
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  padding: 10%;
  margin-bottom: 0;
  background-size: cover;
  z-index: -1;
}

#hero::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: .7;
  z-index: -1;
}

#hero .hero-apresentacao {
  max-width: 70%;
}

#hero .hero-apresentacao h1 {
  font-size: 3rem;
  color: #fff;
}

#hero .hero-apresentacao p {
  text-align: justify;
  font-size: 2rem;
  color: #eee;
}

/* Borda */
.borda {
  width: 100%;
  height: 10vh;
  margin-top: 0;
  background-color: #01876F;
}

/* Clientes */

#clientes .clientes {
  flex-direction: column;
}

#clientes .clientes h2 {
  font-size: 3rem;
}

#clientes .clientes p {
  font-size: 2.5rem;
}

.cliente-bottom {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.clientesItem {
  border: #01876F solid 2px;
  max-width: 250px;
  max-height: 300px;
  min-width: 250px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  margin: 50px;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0);
  transition: 0.3s;
  flex-wrap: wrap;
  overflow: hidden;
}

.clientesItem:hover {
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.4);
}

.clientesItem .clienteBarra {
  width: 100%;
  background-color: #01876F;
  height: 10px;

}

.clientesItem h3 {
  font-size: 2rem;
  text-align: center;
}

.clientesItem .clienteLogo img {
  width: 100px;
  height: 100px;
  margin-left: 70px;
  margin-top: 50px;
  border-radius: 50% 50% 50% 50%;
  border: #BD4429 solid;
}

/*footer */

#footer {
  background-color: #01876F;
}

#footer .footer {
  width: 100%;
  max-height: 30vh;
  flex-direction: column;
  padding: 0;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
  border-top: #ddd 4px solid;
}

#footer .footerItens p {
  font-size: 2rem;
  display: block;
  padding-left: 20px;
  padding-right: 20px;
}

#footer h1 {
  font-size: 3rem;
}

#footer .redesocial {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#footer .social-item img {
  height: 50px;
  margin-left: 5px;
  margin-right: 5px;
  width: 50px;
}

.social-item img {
  filter: grayscale(1);
  transition: .3s ease filter;
}

.social-item img:hover {
  filter: grayscale(0);

}

#footer a {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 2rem;
  text-decoration: none;
  color: white;
}

#footer a:hover {
  color: #eee;
  transition: ease-in-out 0.3s;
}

/*barra */
.barra {
  width: 100%;
  background-color: #01876F;
  height: 1vh;
}

/*portfolio */

#portfolio {
  width: 33%;
}

#portfolio .portfoliomain {
  width: 100%;
  height: 400px;
  border: #fff 2px solid;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#portfolio .portfoliomain {
  text-align: center;
}


#portfolio .portfoliomain p {
  font-size: 2rem;
  font-family: 'Raleway';
  padding-bottom: 0px;
}

#portfolio .portfoliomain h4 {
  font-size: 2rem;
  font-family: 'Raleway Light';
}


#portfolio .redesocial {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#portfolio .social-item img {
  width: 60px;
  height: 60px;
}

.portfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #01876F;
  height: 100%;
  min-height: fit-content;
}

.portfolioinfo {
  width: 100%;
  background-color: #01876F;
  color: #fff;
  padding-bottom: 10px;
  padding-top: 20px;
}

#photos {
  width: 33%;
}

.photo {
  border: #fff 2px solid;
  height: 400px;
}

.photo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-size: cover;
}

.phototitle h3 {
  font-size: 2.5rem;
  padding-left: 10px;
  max-height: 15%;
  color: black;
  transition: 0.3s ease;
}

.phototitle h3:hover {
  color: #eee;
}

.phototitle p:hover {
  color: #eee;
}


.photoimage {
  max-height: 85%;
  max-width: 85%;
  margin: 0 auto;
  padding-bottom: 40px;
}

.photoimage img {
  width: 100%;
  height: 100%;
}

/*portfolio set*/
.portfolioinfo a {
  font-size: 3rem;
  font-family: 'Raleway';
  padding-bottom: 10px;
  text-decoration: underline 0.1em #aaa;
  transition: 0.3s ease;

}

/*admin panel*/

.panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 93.5vh;
  background-color: #01876F;
}

.panel h1 {
  font-size: 3rem;
  text-align: center;
}

.login-panel {
  min-width: 400px;
  width: 400px;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.login-title {
  background-color: #087460;
  padding-bottom: 10px;
  padding: 15px;
  color: #eeeeee;
}

.login-title h3 {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 10px;
  border-bottom: #eeeeee 2px solid;
}

.login-form-title h3 {
  text-align: center;
  font-size: 2rem;
  color: #333333;
  margin-bottom: 15px;
}

.login-form {
  padding: 30px;
  background-color: #eeeeee;

}

.login-form-input {
  width: 100%;
  max-width: 305px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #dddddd;
  outline: none;
  background-color: #ffffff;
  transition: border-color 0.5s;

}

.login-form-button {
  padding: 10px;
  margin-bottom: 10px;
  color: #ffffff;
  font-weight: bold;
  background-color: #01876F;
  width: 97.2%;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}


.login-form-input:focus {
  border-color: #01876F;
}

.login-form-input::placeholder {
  color: #aaaaaa;
}

/* Admin */

.admin {
  background-color: #01876F;
  width: 100%;
}
/*modal edit */
.modal-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0,5s;
}

.modal-bg2 {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0,5s;
}

.bg-active {
  visibility: visible;
  opacity: 1;
}

#modal .modal {
  position: relative;
  background: white;
  width: 30%;
  height: 30%;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

#modal2 .modal2 {
  position: relative;
  background: white;
  width: 40%;
  height: 60%;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.modal label{
  font-size: 1.5rem;
}

.modal h1 {
  font-size: 2rem;
  margin-bottom: 2px;
}

.modal input{
  width: 50%;
  margin-bottom: 2px;
}

.modal2 label{
  font-size: 2rem;
}

.modal2 h1 {
  font-size: 2rem;
  margin-bottom: -4px;
}

.modal2 input{
  width: 50%;
}

.modal-close{
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  cursor: pointer;
}
.modal button, .modal2 button  {
  padding: 10px;
  color: #ffffff;
  font-weight: bold;
  background-color: #01876F;
  width: 100px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 2rem;
  cursor: pointer;
  margin-bottom: 5px;
  margin-top: 10px;
}

.edit button {
  padding: 10px;
  color: #ffffff;
  font-weight: bold;
  background-color: #01876F;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 2rem;
  cursor: pointer;
}
/*client panel admin*/

#clientpanel {
  max-width: 1400px;
  height: fit-content;
  margin: 0 auto;
  margin-bottom: 150px;
  padding-top: 100px;
  background-color: #01876F;
}

#clientpanel button {
  padding: 10px;
  color: #ffffff;
  font-weight: bold;
  background-color: #01876F;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 2rem;
  cursor: pointer;
}

#Photopanel {
  max-width: 1400px;
  height: fit-content;
  margin: 0 auto;
  margin-bottom: 150px;
  padding-top: 100px;
  background-color: #01876F;

}

#Userpanel {
  max-width: 1400px;
  height: fit-content;
  margin: 0 auto;
  margin-bottom: 150px;
  padding-top: 100px;
  background-color: #01876F;
}

.clientpanel {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.client-table {
  display: flex;
  justify-content: center;
  max-width: 280px;
  flex-wrap: wrap;
  margin-top: 50px;
  margin: 0 auto;
}

.client-content {
  border-collapse: collapse;
  margin: 25px 0;
  min-width: 280px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  border-radius: 5px 5px  0 0;
  overflow: hidden;
}

.client-content img {
  max-width: 50px;
  max-height: 50px;
  border: 2px solid #01876F;
  border-radius: 4px;
}

.client-content thead tr {
  background-color: #087460;
  text-align: left;
  color: #dddddd;
  font-weight: bold;

}

.client-content th, .client-content td {
  padding: 10px 4px;
  font-size: 1.5rem;
}

.client-content tbody tr {
  border-bottom: 1px solid #ddd;
  background-color: #dddddd;
}

.client-content tbody tr:nth-of-type(even){
  background-color: #f3f3f3;
  color: #087460;
}

.client-content tbody tr:last-of-type {
  border-bottom: 2px solid black;
}

.edit th, .edit td {
  font-size: 1.4rem;
}

#form {
  background-color: #087460;
  margin-bottom: 0px;
}

#form .form {
  border-top: #01876F 100px solid;
  display: flex;
  flex-direction: column;
  padding-bottom: 180px;
  padding-top: 120px;
}

#form .form h1 {
  font-size: 3rem;
  padding: 50px;
  color: #eee;
}

#form h2 {
  font-size: 3rem;
  color: #fff;
  padding-bottom: 60px;
}

#form .form-item {
  width: 500px;
  margin: 0 auto;
}
.form-item label, .form-item input, .form-item textarea, .form-item button {
  display: block;
  width: 100%;
  justify-content: center;

}

.form-item label {
  margin-bottom: 1.2rem;
  font-size: 1.8rem;
  color: #fff;
}

.form-item input {
  color: #ddd;
  line-height: 1;
  margin-bottom: 0.5rem;
}

.form-item input, .form-item textarea {
  font: inherit;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 8px;
}

.form-item textarea {
  resize: vertical;
}

.form-item button {
  padding: 10px;
  color: #ffffff;
  font-weight: bold;
  background-color: #01876F;
  width: 103.1%;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 2rem;
  cursor: pointer;
}

@media only screen and (max-width:850px) {
  #portfolio .portfoliomain a {
    font-size: 2rem;
  }

  #portfolio .portfoliomain p {
    font-size: 2rem;
  }

  .login-panel {
    width: 300px;
    max-width: 300px;
    min-width: 300px;
  }

  .login-form-input {
    max-width: 210px;
  }

  .clientpanel {
    flex-direction: column;
  }

  .login-panel {
    margin-bottom: 50px;
  }

  .client-content {
    min-width: 300px;
  }
}

@media only screen and (max-width: 580px) {

  #portfolio .portfoliomain a {
    font-size: 3rem;
  }

  #portfolio .portfoliomain p {
    font-size: 3rem;
    width: 100%;

  }

  #portfolio .portfoliomain {
    width: 99vw;
  }

  .portfolio {
    flex-direction: column;
  }

  .photo {
    width: 99vw;
    margin-left: 0px;
    background-color: darkgray;
  }

  .photo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .phototitle h3 {
    font-size: 2rem;
    padding-left: 10px;
  }

  .photodescription p {
    font-size: 1.5rem;
    padding-left: 10px;
  }


}


@media only screen and (max-width: 800px) {

  /*navbar*/

  .navbaritens a {
    margin: 3px;
    margin-left: 25px;
  }

  .navbaritens.active {
    left: 0;
  }

  /* Hero */
  #hero .hero-apresentacao h1 {
    font-size: 2.5rem;
  }

  #hero .hero-apresentacao p {
    font-size: 1.5rem;
  }

  /*clientes */

  .cliente-bottom {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .clientesItem {
    margin: 0;
    margin-bottom: 50px;
  }

  /*footer */


  .form-item {
    max-width: 230px;
  }

  .form-item input {
    max-width: 220px;
  }
  
}

@media only screen and (max-width:500px) {

  /*hero */
  #hero .hero-apresentacao p {
    font-size: 1.2rem;
  }

  /*clientes*/

  #clientes .clientes h2 {
    font-size: 2rem;
  }

  #clientes .clientes p {
    font-size: 1.5rem;
  }

}

@media only screen and (min-width: 800px) {
  .client-content {
    min-width: 500px;
    width: 500px;
  }

  .client-table td, .client-table th {
    font-size: 1.5rem;
    padding: 15px;
    overflow: hidden;
  }
}

@media only screen and (max-width: 500px) {

  .client-table td, .client-table th {
    max-width: 100px;
    overflow: hidden;
  }
  
  .modal, .modal2 {
    padding: 20px;
  }

  #modal .modal {
    width: 70%;
    min-height: fit-content;
  }

  #modal2 .modal2 {
    width: 70%;
    min-height: fit-content;
  }
}