* {
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
}

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

li {
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
}

#navbar .navbar {
  background-color: bisque;
  display:flex;
  flex-direction: row;  
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
  
}

#navbar .navbar-logo a{
  text-decoration: none;
  color:black;
  font-size: 1.5rem;
  transition: all 0.3s ease 0s;
}

#navbar .navbar-logo:hover{
  color:aqua;
}


#navbar .navbar-itens {
  list-style: none;
}

#navbar .navbar-itens li {
  display: inline-block;
  padding: 0 20px;
  justify-self: flex-end;
}

#navbar .navbar-itens li a {
  transition: all 0.3s ease 0s;
  font-size: 1.2rem;
  text-decoration: none;
}

#navbar .navbar-itens li a:hover {
  color:aqua;
}
